@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xxs: 280px;
  --breakpoint-xs: 350px;
  --breakpoint-normal: 1126px;
  --shadow-hover:
    0 4px 6px -4px rgba(0, 0, 0, 0.12), 0 8px 8px -4px rgba(0, 0, 0, 0.08);
}

.p-bold {
  font-weight: 500;
}
.p2 {
  line-height: 120%;
  font-family: var(--heading);
  letter-spacing: -4%;
}

:root {
  --text: #000000;
  --text-2: #6c6c6c;
  --text-3: #66640f;
  --divider: #dbe0ec;
  --bg: #ffffff;
  --bg-2: #f6f8fb;
  --bg-3: #fff546;
  --link: #2683eb;
  --gradient-colour-1: #a8d3ff;
  --gradient-colour-2: #fff4df;
  /* --text: light-dark(#6b6375, #9ca3af); */
  /* --text-h: light-dark(#08060d, #f3f4f6); */
  /* --bg: light-dark(#fff, #16171d); */
  /* --border: light-dark(#e5e4e7, #2e303a); */
  /* --accent: light-dark(#aa3bff, #c084fc); */
  /* --accent: #aa3bff; */
  /* --accent-bg: light-dark(#aa3bff1a, #c084fc26); */
  /* --accent-border: light-dark(#aa3bff80, #c084fc80); */
  /* --social-bg: light-dark(#f4f3ec80, #2f303a80); */
  /* --shadow:
    rgba(0, 0, 0, 0.102) 0 10px 15px -3px, rgba(0, 0, 0, 0.051) 0 4px 6px -2px; */

  --sans: "Radio Canada Big", system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Source Serif 4", system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: "Geist Mono", ui-monospace, Consolas, monospace;

  /* font: 16px/165% var(--sans); */
  font: 16px var(--sans);
  letter-spacing: 0.16px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  ::-moz-selection {
    background: rgba(from var(--bg-3) r g b / 0.8);
    color: var(--text-h);
  }

  ::selection {
    background: rgba(from var(--bg-3) r g b / 0.8);
    color: var(--text-h);
  }

  :focus-visible {
    outline: 0.125rem solid var(--bg-3);
    outline-offset: 0.125rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.251) 0 4px 6px -2px;
  }
} */

/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  hanging-punctuation: first last;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scrollbar-color: var(--link) transparent;
}

body {
  margin: 0;
}

#root {
  /* width: 1126px; */
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--divider);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a,
button,
caption {
  line-height: 100%;
  text-align: left;
  vertical-align: top;
}
h1 {
  font-family: var(--heading);
  font-weight: normal;
  font-size: 5rem;
  margin: 32px 0;
  letter-spacing: -4%;
}
h2 {
  font-family: var(--sans);
  font-weight: normal;
  font-size: 5rem;
  margin: 28px 0;
  letter-spacing: -5%;
}
h3 {
  font-family: var(--sans);
  font-weight: 500;
  font-size: 3.5rem;
  margin: 24px 0;
  letter-spacing: -3%;
}
h4 {
  font-family: var(--sans);
  font-weight: 500;
  font-size: 2.5rem;
  margin: 20px 0;
  letter-spacing: -3%;
}
p {
  margin: 0;
  font-family: var(--sans);
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: -2%;
}
a {
  font-family: var(--sans);
  line-height: 120%;
  letter-spacing: 0;
  font-size: 1rem;
  cursor: pointer;
  /* letter-spacing: normal; */
}

a:hover {
  /* -webkit-text-decoration: underline;
  text-decoration: underline; */
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.2em;
}

button,
a {
  cursor: pointer;
  font-family: var(--mono);
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
}
.caption {
  font-family: var(--mono);
  font-weight: normal;
  font-size: 0.875rem;
  letter-spacing: 0;
}
/* h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
} 

p {
  margin: 0;
}
*/
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
li::marker {
  color: var(--link);
}
/* a {
  color: var(--link);
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

a:hover {
  text-decoration-thickness: 0.125rem;
} */

hr {
  border: none;
  border-block-start: thin solid var(--divider);
  margin-block: var(--space-lg);
}

.open {
  max-height: 100%;
}

.divider {
  width: 100%;
  height: 40px;
}

img[src=""],
img:not([src]) {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%234b4a4c' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  object-fit: contain;
  background-size: 10%;
}

/* .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    var(--gradient-colour-1),
    var(--gradient-colour-2)
  );
Get Started

} */

.sticker {
  user-select: none;
  pointer-events: none;
  /* absolute -top-5 left-[28%] w-100  */
  &.journal {
    width: 400px;
    position: absolute;
    top: 0;
    transform: translateX(-95%) rotate(calc(10deg * -1));
  }

  /* tailwind md */
  @media (width < 48rem /* 768px */) {
    &.journal {
      top: -55px;
      transform: translateX(-70%) rotate(calc(10deg * -1));
    }
  }
}
